<!DOCTYPE html>
<html lang="en">
<head>
    <title>OyBcSt - NOAA RESTORE</title>


<!-- NC State Bootstrap CSS -->
<link href="https://cdn.ncsu.edu/brand-assets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" type="text/css" />
<!-- jQuery 2.1.0 -->
<!-- Do we need this?? L3 -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<script src="https://cdn.ncsu.edu/brand-assets/utility-bar/ub.php?googleCustomSearchCode=&placeholder=&color=gray&showBrick=1"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js">
</script>
</head>
<body>
<div id="ncstate-utility-bar"></div>

<div>
<ol class="breadcrumb">
<li><a class="breadcrumb-item"> </a></li>
</ol>
</div>

<div class="container-fluid">
    <h2>NOAA RESTORE - Station List 2020</h2>
    Popups:
    <ul>
	    <li>Red icon has a landmark</li>
	    <li>Blue has a Water Station</li>
	    <li>Light green has a Fishery Station</li>
	    <li>Dark green has a Water Station and a Fishery Station</li>
    </ul>
Click the Popup for the Station Name, Fishery Station Name, and Landmark
<br>
    <!--    <iframe class="map", src="/map" width="600" height="600"></iframe> -->
    <iframe class="map", src="/map" width="600" height="600" ></iframe>

    <div class="well well-sm">
   <center>
   Copyright &copy; <?php echo date("Y");?> &#183;
   <a href="http://oit.ncsu.edu" style="TEXT-DECORATION: NONE">
   <font color='#000000'>Office of Information Technology</font></a> &#183;
   <a href="http://www.ncsu.edu" style="TEXT-DECORATION: NONE">
   <font color='#000000'>NC State University</font></a> &#183;
   Raleigh, NC 27695 &#183;
   <a href="https://accessibility.ncsu.edu" style="TEXT-DECORATION: NONE">
   <font color='#000000'>Accessibility</font></a> &#183;
   <a href="https://www.ncsu.edu/privacy/" style="TEXT-DECORATION: NONE">
   <font color='#000000'>Privacy</font></a> &#183;
   <a href="https://policies.ncsu.edu" style="TEXT-DECORATION: NONE" >
   <font color='#000000'>University Policies</font></a>
   </center>
</div>


</div>


</body>
</html>
